.body{
	margin: 0;
	font-family: "Lato", sans-serif;
}

.header{
	background-image: url(bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 120vh;
}

.container-header{
	margin: 0px 190px;
}

.header-logo{
	margin-top: 5%;

	transition: scale 0.3s linear;
}

.header-logo:hover{
	scale: 90%;
}

.button-logo{
	height: 62px;
	width: 82px;
}

.nav-button{
	font-family: "Lato", sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: white;

	text-decoration: none;
	margin-right: 5%;

	transition: color 0.3s linear;
}

.nav-button:hover{
	color: #A3CBFF;
}

.nav-button:last-child{
	padding-right: 0px;
}

.nav-items{
	text-align: right;
	margin-top: -2.25%;
}

.header-title{
	font-size: 50px;
	line-height: 60px;
	font-weight: 400;
	color: #fff;

	width: 619px;
	height: 121px;
}

.header-text{
	margin-top: 17%;
	font-family: "Lato", sans-serif;
	color: white;
}

.header-subtitle{
	padding-top: 2.5%;

	font-family: "Lato", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	width: 546px;
	height: 72px;

	padding-bottom: 5%;
}

.search-1{
	width: 297px;
	height: 49px;
	padding-right: 5.5%;
}

.search-img-1{
	height: 20px;
	width: 20px;
}

.search-text-1{
	font-size: 18px;
	margin-left: 17.5%;
	margin-top: -7.5%;
	padding-bottom: 5%;
}

.search-hr-1{
	color: white;
}

.search-2{
	width: 297px;
	height: 49px;
	padding-right: 6%;
}

.search-img-2{
	height: 20px;
	width: 20px;
}

.search-text-2{
	font-size: 18px;
	margin-left: 17.5%;
	margin-top: -7.5%;
	padding-bottom: 5%;
}

.search-hr-2{
	color: white;
}

.search-menu{
	display: flex;
}

.search-button{
	width: 171px;
	height: 58px;
	background-color: #1B7DFF;

	display: flex;
	text-align: center;

	transition: background-color 0.3s linear;
}

.search-button:hover{
	background-color: #A3CBFF;
}

.search-btn{
	color: #fff;
	font-size: 24px;
	font-family: "Lato", sans-serif;
	text-decoration: none;
	width: 93px;
	height: 29px;
	line-height: 28.8px;
	padding: 8.5% 20%;
}

.container-main{
	margin: 0 5%;
}

.benSection{
	display: flex;
	justify-content: center;
	background-color: #fff;
	z-index: 1;
}

.benBackground{
	box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.25);
	background-color: #fff;
	margin-top: -15%;
}

.container-inner{
	margin: 0px 8.75%;
}

.benText{
	font-family: "Lato", sans-serif;
	font-size: 35px;
}

.benHeaderText{
	padding-top: 10%;
}

.cards-holder{
	display: flex;
}

.card-1,
.card-2,
.card-3{
	width: 30%;
	height: 300px;
	margin-top: 7.5%;
	padding-right: 7.5%;
	margin-bottom: 5%;
}

.card-3{
	padding-right: 0px;
}

.card-title{
	font-family: "lato", sans-serif;
	font-size: 18px;
	font-weight: 500;
	margin-top: 7.5%;
}

.card-subtitle{
	font-family: "Lato", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;

	margin-top: 5%;
}

.card-link{
	margin-top: 10%;
	display: flex;
}

.card-link-text{
	text-decoration: none;
	color: #006DFE;
	font-size: 16px;

	transition: color 0.3s linear;
}

.card-link-text:hover{
	color: #A3CBFF;
}

.card-shape{
	margin-left: 7.5%;
	margin-top: -1%;
}

.inspired-section{
	margin: 0;
	margin-top: 7.5%;
	width: 100%;
	height: 100vh;
}

.inspired-title{
	font-family: "Lato", sans-serif;
	font-size: 35px;
}

.inspired-link{
	text-decoration: none;
	padding-left: 52.5%;
}

.inspired-shape{
	margin-top: -0.5%;
	width: 20%;
}

.inspired-btn{
	font-family: "Lato", sans-serif;
	font-size: 16px;
	text-decoration: none;
	text-align: right;
}

.inspired-link-img{
	margin-left: 2.5%;
}

.inspired-library{
	display: flex;
	justify-content: center;

	width: 100%;
}

.inspired-table{
	width: 100%;
	border-collapse: collapse;
}

.library-img-1,
.library-img-2{
	width: 100%;
	height: 100%;
	margin-top: 0px;
}

.library-img-3,
.library-img-4,
.library-img-5{
	width: 100%;
	height: 100%;
}